{% extends "layout.njk" %}

{% block content %}
<main class="container">

<button type="button" id="buystuff">Köp grejjor</button>


  <h1>Varukorg</h1>
  <div class="cart" id="cartt">

  </div>
</main>

<script>
  let cart = JSON.parse(localStorage.getItem('cart')) || [];

  const bjutton = document.querySelector('#buystuff');
  bjutton.addEventListener('click', (event) => {
    console.log("button vclick")
    event.preventDefault()
    cart.foreach((item) => {
      meow = document.createElement('h3')
      meow.textContent = item.name + "" + item.quantity + "st"
      meow.append(document.querySelector('#cartt'))
    })

    fetch('/order', {
      method: 'post',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(cart),
    })
      .then(response => response.json())
      .then(data => console.log(data))
      .catch((error) => {
        console.error('Error:', error);
      });
  });
</script>


{% endblock %}