{% extends "layout.njk" %}

{% block content %}
<main class="container">
  <h1>Varukorg</h1>

  <div class="" id="cart">

  </div>
  
 
   <button type="button" class="button" id="buystuff">Köp grejjor</button>
</main>

<script>
  let cart = JSON.parse(localStorage.getItem('cart')) || [];
  const items = cart.map(item => {
    return {
      name: item.name,
      quantity: item.quantity
    }
  });
  console.log(items) 

  items.forEach(item => {
    let div1 = document.createElement('div')
    div1.setAttribute('class', 'card')
    let meow = document.createElement('p')
    meow.textContent = item.name + " " + item.quantity + "st"
    div1.appendChild(meow)
    document.querySelector('#cart').appendChild(div1) 
    
  });
  const bjutton = document.querySelector('#buystuff');
  bjutton.addEventListener('click', (event) => {
    event.preventDefault()
    localStorage.removeItem('cart')
    fetch('/order', {
      method: 'post',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(cart),
    })
      .then(response => response.json())
      .then(data => console.log(data))
      .catch((error) => {
        console.error('Error:', error);
      });
  });
</script>


{% endblock %}