{% extends "layout.njk" %}

{% block content %}

<main class="container">
    <div class="card2">
        <h1>Orderbekräftelse</h1>
        <p>Tack för din beställning!</p>
        <p>Vi kommer att skicka en orderbekräftelse till din e-postadress.</p>
    </div>
    {% endblock %}