{% extends "layout.njk" %}

{% block content %}
<div class="hero-image">
  <div class="hero-text">


    <form class="searchBar" action="/products" method="get"> <input id="searchQueryInput" type="text"
        name="searchQueryInput" placeholder="Search" value="" />
      <button id="searchQuerySubmit" type="submit">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="#666666"
            d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
      </button>
      </svg>
    </form>

    {% if query %}
    <p>Search results for <strong>{{ query }}</strong></p>
    {% endif %}
    {% if results %}
    <ul>
      {% for result in results %}
      <li>
        <a href="{{ result.url }}">{{ result.title }}</a>
      </li>
      {% endfor %}
    </ul>

    {% endif %}
    <a href="/login">
      <button class="button">Log in</button>
    </a>
    <a href="/signup">
      <button class="button">Sign up</button>
    </a>
  </div>
</div>

<main class="grid">

  {% for produkt in produkter %}
  <div class="card">
    <div class="container">
      <h4><b>{{ produkt.name }}</b></h4>
      <div class="price-section">
        <p>{{ produkt.price }} kr </p>

      </div>
      <div class="button-container">
        <button id="{{produkt.name}}">Köp</button>
      </div>
    </div>
  </div>
  </div>
  {% endfor %}
</main>

<script>
  let cart = localStorage.getItem('cart') || [];

  document.querySelectorAll('button').forEach((button) => {
    button.addEventListener('click', (event) => {
      let item = event.target.id;
      let existingItem = cart.find(cartItem => cartItem.name === item);

      if (existingItem) {
        // Item exists, update quantity
        existingItem.quantity += 1;
      } else {
        // Item does not exist, add it
        let newItem = {
          name: item,
          quantity: 1
        };
        cart.push(newItem);
      }

      // Update localStorage
      localStorage.setItem('cart', JSON.stringify(cart));
    });
  });
</script>

{% endblock %}